@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Karla', sans-serif;
    background-color: #FBF7EE;
    box-sizing: border-box;
}

.container{
    width: 85%;
    margin: 0 auto;
}

/* start heading */






/* end heading */


/* start section1 */






/* end section1 */


/* start section2 */






/* end section2 */


/* start section3 */






/* end section3 */


/* start contact */






/* end contact */

/* media */

@media(max-width:623px){
    
}